{{#if this.links}}
    <div class="user-card-metadata-outlet custom-profile-links-links">
        {{#each this.links as |link|}}
            <span class="profile-link"><a href="{{link.[1]}}" target="_blank">{{link.[0]}}</a></span>
        {{/each}}
    </div>
{{/if}}
