{{#if this.links}}
    <div class="user-card-metadata-outlet custom-profile-links-links">
        {{#each this.links as |link|}}
            <div class="profile-link">
                <span class="profile-link-field-value">{{link.[0]}}:</span>
                <a href="{{link.[2]}}" target="_blank">{{link.[1]}}</a>
            </div>
        {{/each}}
    </div>
{{/if}}
