{{#if this.links}}
<div class="public-user-fields">
    <div class="public-user-field">
        <span class="user-field-value">
            {{#each this.links as |link|}}
            <a href="{{link.[1]}}" target="_blank">{{link.[0]}}</a>
            {{/each}}
        </span>
    </div>
</div>
{{/if}}