{{#if this.links}}
<div class="public-user-fields">
    <div class="public-user-field">
        {{#each this.links as |link|}}
        <div class="user-field-value">
            <span class="profile-link-field-value">{{link.[0]}}:</span>
            <a href="{{link.[2]}}" target="_blank">{{link.[1]}}</a>
        </div>
        {{/each}}
    </div>
</div>
{{/if}}